* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* Navbar Hissesi Basladi */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b2239;
  color: white;
}

.logo {
  font-size: 28px;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}
/* Navbar hissesi bitdi */

/* Hero Hissesi Basladi */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/heroSliders/1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 80px;
  color: white;
}

.hero-overlay h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.hero-overlay p {
  width: 600px;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-overlay button {
  width: 180px;
  padding: 15px;
  border: none;
  background: #d4a373;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}
.hero-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.watch-btn {
  background: transparent !important;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.play-icon {
  width: 42px;
  height: 42px;
  border: 2px solid #d4a373;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.video-box {
  width: 700px;
  height: 400px;
  position: relative;
  background: black;
}

.video-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-video {
  position: absolute;
  top: -45px;
  right: 0;
  background: white;
  color: black;
  border: none;
  font-size: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Hero Hissesi Bitdi */


/* About Hissesi Basladi */
.about {
  width: 100%;
  padding: 120px 80px;
  background: #f8f8f8;
}

.about-title {
  text-align: center;
  font-size: 55px;
  margin-bottom: 80px;
  color: #0b2239;
  font-family: "Barlow Condensed";
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.about-header{
  font-family: "Barlow Condensed";
}

.about-left img {
  width: 650px;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.about-right {
  width: 650px;
}

.about-right h2 {
  font-size: 58px;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #111;
}

.about-right p {
  font-size: 19px;
  line-height: 1.9;
  color: #555;
  margin-bottom: 25px;
}

.about-cards {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.about-card {
  width: 180px;
  padding: 35px 20px;
  background: white;

  border-radius: 14px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-10px);
}

.about-card h3 {
  font-size: 42px;
  color: #d4a373;
  margin-bottom: 12px;
}

.about-card span {
  font-size: 18px;
  color: #444;
}
/* About Hissesi Bitdi */



/* Rooms Hisse Basladi */
.rooms {
  width: 100%;
  padding: 120px 80px;
  background: white;
}

.rooms-title {
  font-family: "Gilda Display";
  text-align: center;
  font-size: 55px;
  margin-bottom: 70px;
  color: #0b2239;
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.room-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);

  transition: 0.4s;
}

.room-card:hover {
  transform: translateY(-10px);
}

.room-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.room-info {
  padding: 25px;
}

.room-info h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #111;
}

.room-info p {
  font-size: 20px;
  color: #d4a373;
  margin-bottom: 20px;
}

.room-info button {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 8px;

  background: #0b2239;
  color: white;

  font-size: 17px;
  cursor: pointer;

  transition: 0.3s;
}

.room-info button:hover {
  background: #d4a373;
}
/* Rooms Hisse bitdi */

/* Menu Hissesi Basladi */

.menu {
  width: 100%;
  padding: 120px 80px;
  background: #f8f8f8;
}

.menu-title {
  text-align: center;
  font-size: 55px;
  margin-bottom: 40px;
  color: #0b2239;
}

.menu-filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.menu-filters button {
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  background: white;
  color: #0b2239;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.menu-filters .active-filter {
  background: #d4a373;
  color: white;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.menu-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-8px);
}

.menu-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.menu-info {
  padding: 25px;
}

.menu-info h2 {
  font-size: 25px;
  margin-bottom: 12px;
  color: #111;
}

.menu-info p {
  color: #777;
  margin-bottom: 18px;
}

.menu-info span {
  color: #d4a373;
  font-size: 22px;
  font-weight: bold;
}
/* Menu Hissei Bitdi */

/* Comment Hissesi Basladi */
.comments {
  width: 100%;
  padding: 120px 80px;
  background: white;
}

.comments-title {
  text-align: center;
  font-size: 55px;
  margin-bottom: 70px;
  color: #0b2239;
}

.comments-container {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.comment-card {
  width: 360px;
  padding: 35px;
  background: #f8f8f8;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.comment-card:hover {
  transform: translateY(-8px);
}

.comment-card img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.comment-card h2 {
  font-size: 24px;
  margin-bottom: 18px;
  color: #111;
}

.comment-card p {
  font-size: 17px;
  line-height: 1.7;
  color: #555;
}
/* Comment Hissesi Bitdi */

/* Events Hissesi Basladi */
.events {
  width: 100%;
  padding: 120px 80px;
  background: #f8f8f8;
}

.events-title {
  text-align: center;
  font-size: 55px;
  margin-bottom: 70px;
  color: #0b2239;
}

.event-card {
  width: 100%;
  max-width: 1300px;

  margin: auto;

  display: flex;
  align-items: center;

  background: white;

  border-radius: 20px;

  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.event-card img {
  width: 50%;
  height: 600px;
  object-fit: cover;
}

.event-info {
  width: 50%;
  padding: 60px;
}

.event-info h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #111;
}

.event-info span {
  font-size: 28px;
  color: #d4a373;
  font-weight: bold;

  display: block;

  margin-bottom: 25px;
}

.event-info p {
  font-size: 20px;
  line-height: 1.9;
  color: #555;

  margin-bottom: 40px;
}

.event-buttons {
  display: flex;
  gap: 20px;
}

.event-buttons button {
  width: 60px;
  height: 60px;

  border: none;
  border-radius: 50%;

  background: #0b2239;
  color: white;

  font-size: 28px;
  cursor: pointer;

  transition: 0.3s;
}

.event-buttons button:hover {
  background: #d4a373;
}

/* Events Hissesi Bitdi */